# Node modules
/node_modules
/frontend/node_modules
/backend/node_modules
# .gitignore
.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build output
/dist
/dist-ssr
/build

# OS-specific files
.DS_Store

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea

# IDE-specific files (Visual Studio, etc.)
*.suo
*.ntvs*
*.njsproj
*.sln

# Temporary or swap files
*.sw?
